{{#each practices as |practice|}}
  {{log practice}}
  <section data-id="{{practice.id}}" class="practice-item">
    <tr>
      <th scope="row">{{@index}}</th>
      <td>{{practice.instrument}}</td>
      <td>{{practice.duration}}hrs</td>
      <td>{{practice.date}}</td>
      <td>{{practice.format_time}}</td>
      <td><div class="dropdown">
  <button class="btn btn-outline-success my-2 my-sm-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Update
  </button>
  <div id="update-prt-drop" class="dropdown-menu" aria-labelledby="navbarDropdown">
    <form class="update-prt" data-id="{{practice.id}}">
      <legend>Update Details</legend>
        <input class="form-input" type="text" name="practice[instrument]" placeholder="Instrument"><br>
        <input class="form-input" type="date" name="practice[date]" placeholder="yyyy-mm-dd"><br>
        <input class="form-input" type="time" name="practice[start_time]" placeholder="xx:xx xm"><br>
        <input class="form-input" type="number" step="0.1" min="0" max="24" name="practice[duration]" placeholder="0.0hrs"><br>
        <input type="submit" value="Update" class="btn btn-outline-light my-2 my-sm-0"><br>
    </form>
  </div>
</div></td>
      <td><button data-id="{{practice.id}}" type="button" name="Delete" class="btn btn-outline-danger delete-button">Remove</button></td>
    </tr>
    <!-- <button data-id="{{practice.id}}" type="button" name="Remove" class="btn btn-danger">Remove</button> -->
  </section>

{{/each}}
