  <h3 class="stat-header">{{practices.instrument}} Statistics</h3>
  <p id='session-count'>Sessions: {{practices.totalSessions}}</span></p><br>
  <p id='time-count'>Hours: {{practices.totalTime}}</p><br>
  <div id="cal-heatmap"></div>
    <script type="text/javascript">
      var cal = new CalHeatMap()
      cal.init({
        data: {{{practices.jsonObj}}},
        considerMissingDataAsZero: true,
        domain: "month",
        itemName: ["Minute", " Minutes"],
        start: {{practices.lastYear}},
	      subDomain: "day",
        dataType: "json",
        legend: [15, 30, 60, 90, 120, 150, 180],
        legendColors: {
		      min: "#4848a3",
		      max: "#000070",
		      empty: "#000"
	}
      })
    </script>
  <p id='stat-message'></p>
</div>
